@import '../utils/Themes.css';

.menuContainer{
    flex: 0.5;
    flex-direction: column;
    height: 100vh;
    display: flex;
    background-color: var(--bg);
    color: var(--text_primary);
}


.logo{
    color: var(--primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: bold;
    font-size: 20px;
    margin: 16px 0px;
}
.close{
    display: none;
     @media (max-width: 1100px){
        display: block;
        font-size: 30px;
        font-weight: 800;
     }
}
.closeRound{
        display: block;
        font-weight: 500;
     margin-right: 10px;
}
.elements{
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    color: var(--text_primary);
    text-decoration: none !important;
    /* width: 100%; */
    &:hover{
        background-color: var(--text_secondary);
    }
}
.navText{
    padding: 12px 0px;
    text-decoration: none !important;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logoPng{
    height: 40px;
}
hr{
    width: 100%;
    height: 1px;
    background-color: var(--text_secondary);
    margin: 10px 0px;
    
}


@media (max-width: 1100px) {

    .menuContainer {
        background-color: var(--bg);
        color: var(--text_primary);
        position: fixed;
        z-index: 1000;
        width: 100%;
        max-width: 250px;
        transition: left 0.3s ease-in-out;
    }
  }
