@import '../utils/Themes.css';

.TypeConatiner{
    background-color: antiquewhite;
    max-width: 220px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    border-radius: 6px;
    overflow: hidden;
    &:hover{
        cursor: pointer;
        transform: translateY(-8px);
        transition: all 0.4s ease-in-out;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
        filter: brightness(1.3);
    }
}
.TypesImg{
    padding: 20px 60px;
    height: 6rem;
    width: 6rem;
    rotate: 30deg;
    bottom: 20px;
    top: 80px;
    overflow: hidden;
    position: relative;
    bottom: 50px;
}


/* uplode */
.customDialog{
    max-width: 500px;
width: 100%;
border-radius: 16px;
 background-color: #191919;
margin: 50px 20px;
height: min-content;
padding: 10px;
display: flex;
flex-direction: column;
position: relative;
}
.customDialogs{

    max-width: 500px;
border-radius: 16px;
 background-color: #191919;
margin: 50px 20px;
height: min-content;
padding: 10px;
display: flex;
flex-direction: column;
position: relative;
}

.UploadContainer{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: center;
    border: 2px dashed  white;
    border-radius: 12px;
    color: white;
    margin: 30px 20px 0px 20px;
}
.title{
    font-weight: 500;
}
.closeIcon{
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 30px;
    cursor: pointer;
    color: inherit;
}
.Uplodefile{
    position: absolute;
    top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.uplodewindo{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: #000000a7;
display: flex;
align-items: top;
justify-content: center;
overflow-y: scroll;
}

.titleAndClose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    color: white;

}
.uplodefiletitle{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BrowseImage{
    color: #be1adb;
    flex-wrap: wrap;
    position: relative;
}
.imagePreview{
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto;
  object-fit: cover;
  position: relative;
  bottom: 110px;
}


.CloudUploadIcon{
    font-size: 4rem;
}

.uplodeName{
    margin: 0px 20px 0px 20px;
    background-color: transparent;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    
}
.NameInput{
    width: 90%;
    background: transparent;
    font-weight: 500;
    display: flex;
    border: none;
    outline: none;
    color: white;
}
.uplodeDisc{
    margin: 0px 20px 0px 20px;
    background-color: transparent;
    height: 6rem;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    display: flex; 

}
.DiscInput{
    width: 90%;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    height: 5rem;
    border-radius: 10px;
}
.uplodeTag{
    margin: 0px 20px 0px 20px;
    background-color: transparent;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    display: flex; 
}
.tagInput{
    width: 90%;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    height: 3rem;
    border-radius: 10px;
}
.optionsContainer{
    background-color: transparent;
    overflow: hidden;
    margin: 0 20px;
    width: 100%;
    padding: 0 10px;
    height: 3rem;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
}
.optionsInput{
    width: 100%;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    color: white;

}
.button{
    background-color: transparent;
    height: 3rem;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 10px;
}
.buttonInput{
    background-color: var(--button);
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    color: white;
}
.gapContai{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.options{
    width: 100%;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    background-color: white;
    outline: none;
    color: black;
}

/* signUp form  */
.SignupGoogle{
    background-color: transparent;
    color: white;
    height: 45px;
    width: 20rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 400;
    display: flex;
    border: 1px solid white;
    margin-bottom: 10px;
    cursor: pointer;
}
.Divider{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0;
    gap: 10px;

}
.SignUpline{
    width: 80px;
    height: 1px;
    background-color: white;
    display: flex;
}

.SignupName{
    color: white;
    background-color: transparent;
    height: 45px;
    width: 20rem;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    border: 1px solid white;
    margin-bottom: 10px;
}
.SignupNameInput{
    width: 80%;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}
.switchFormContainer{
    display: flex;
    margin-top: 20px;
    gap: 5px;
    align-items: center;
    color: white;
}
.switchFormText{
    color:#be1adb ;
    font-weight: 500;
    cursor: pointer;   
}
option{
    background-color: #0f0f0f;
    color: white;
    overflow-y: scroll;
}

.signInVisivlility{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.SignlogoInput{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}
.model {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    outline: none;
  }
  .model :focus {
    outline: none;
  }

  .modalFocus :focus{
    outline: none;
  }
